:root{
    --cor-fundo: rgb(25, 25, 25);
    --cor-principal: rgb(10, 1, 34) ;
    --cor-secundaria: rgb(4, 10, 66) ;
    --cor-destaque: rgb(25, 226, 85) ;
    --cor-texto: rgb(230, 243, 227);
}

@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap);

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', sans-serif;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto Mono', sans-serif;
}

h1{
    color: var(--cor-destaque);
    font-family: 'Roboto Mono', sans-serif;
}

button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    font-family: 'Roboto Mono', sans-serif;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.caixa-perguntas{
    padding: 15px;
}

.caixa-alternativas{
    padding: 15px;
}

.caixa-resultado{
    padding: 15px;
}

  